__pycache__/
*.py[cod]
*.pyo
*.egg-info/

venv/
.venv/
env/

.ipynb_checkpoints/
*.ipynb

data-science/data/

data-science/assets/

.env

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

.git/
.gitignore

docs/

frontend/